@import "variables";
@import "normalize";
@import "waffleGrid";

@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,700');

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: 'Signika', sans-serif;
	color: $main_color;
	background: $background;
}

.siteNav.header {
	padding: 20px 0;
	text-align: center;
	display: block;

	h1 {
		font-family: "Courgette", cursive;
		color: darken($light_blue, 6%);
		vertical-align: top;
		display: inline-block;
		margin: 0;
		line-height: 63px;
		font-size: 40px;
	}

	img {
		position: relative;
		left: -8px;
		width: 100%;
		height: 100%;
		max-width: 100px;
	}
}
