//** variables
@import "variables";

//** root
// :root {
// 	background: $background;
// 	color: $text;
// }

html, body, .container {
	height: 100%;
}

a {
	color: inherit;
	
	&:hover {
		color: $button-bg-color;
	}
}

//** helper
.search.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: transparent;
	padding-bottom: 30px;
	position: relative;

	.errorMessage {
		display: none;
		padding-top: 10px;
		position: absolute;
		bottom: 0;
	}

	&.error {
		.errorMessage {
			display: block;
		}

		.form {
			input {
				box-shadow: 0 0 10px 2px rgba(#e74c3c, .25);
			}
		}

		.btn {
			&--primary {
				// box-shadow: 0 0 10px 2px rgba(#e74c3c, .25);
			}
		}
	}
}

//** button
.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	text-transform: uppercase;
	
	&--primary {
		background: $light_blue;
		color: $button-text-color;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;
		
		&:hover {
			background: darken($light_blue, 10%);
		}
		
		&:active {
			background: $dark_blue;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
	}
	
	&--inside {
		margin-left: -96px;
	}
}

//** form
.form {	
	&__field {
		width: 400px;
		background: #fff;
		color: $input-text-color;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
	}
}